$textColor: #222222;
$navbarBg: #faf9f9;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: $navbarBg;
  box-shadow: 0px 2px 4px #e9e9e9;
  height: 80px;
  display: flex;
  align-items: center;
}

.burgerNavbar {
  background: black;
}
.navbar-main {
  gap: 8rem;
}
.navText {
  color: $textColor;
}

.navbarEl {
  align-items: center;
  gap: 3rem;

  @media screen and(max-width:1124px) {
    gap: 0;
  }
}

.contaainer {
  @include flex;
  justify-content: space-evenly;
  padding: 2rem;

  

  .userInfo {
    width: 18.75rem;
    height: 50rem;

    @media screen and(max-width:427px)  {
      height: 30rem;
    }

    .userRaiting {
      width: 100%;
      margin: 0 auto;
      height: 10rem;
      background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
      border-radius: 10px;
      padding: 1rem;

      .userRaitingsInfo {
        display: flex;
        justify-content: center;
        gap: 2rem;

        @media screen and(max-width:801px) {
          gap: 1rem;
        }

        img {
          @media screen and(max-width:940px) {
            width: 50px;
          }
        }

        .userInfoTexts span {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 110%;
          text-align: center;
          color: #FFFFFF;
          @media screen and(max-width:1024px) {
            font-size: 20px;
          }
        }
        .userInfoTexts small {
          background: #5A60E7;
          font-size: 9px;
          color: #EFEFFD;
          border-radius: 10px;
          width: 42px;
          height: 16px;
          order: 1;
          flex-grow: 0;
          margin: 0px 6px;
        }

        .userInfoTexts p {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 110%;
          color: #FFFFFF;

          @media screen and(max-width:1024px) {
            font-size: 15px;
          }
        }
      }
    }
    span,i {
      color: #ACAFF3;
      margin-top: 1.5rem;
    }
  }

  .mainInfo {
    width: 55rem;
    height: 50rem;

    @media screen and(max-width:769px) {
      display: none;
    }

    .statistica {
      width: 100%;
      height: 10rem;
      background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
      border-radius: 10px;
      @include flex;
      justify-content: space-around;

      @media screen and(max-width:1024px) {
        justify-content: center;
      }
    

      .lightningSlice {
        // flex: 1;

        .topIconsMain {
          display: flex;
          gap: 1rem;
          width: 90%;
          border-bottom: 2px solid #fff;
        }
        .bottomInconsMain {
          display: flex;
          padding: 1rem 0px 0px 0rem;
          gap: 5px;
        }
        .topIcons {
          display: flex;
        }

        .topIconsDark {
          display: flex;
        }
      }
      .mainStatistic {
        // flex: 2;
        height: 75%;

        .seasons {
          height: 40px;
          width: 90%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #5A60E7;
          border-radius: 10px;
          .seasonAll {
            background: #5A60E7;
          }
          .seasonsBtn {
            width: 180px !important;
            height: 30px !important;
            color: #fff !important;

            @media screen and(max-width:952px) {
              width: 130px !important;
            }
          }
        }
        .seasonBlocks {
          display: flex;
          justify-content: center;
          gap: 5px;
          margin: 10px;

          .seasonBlock {
            display: flex;
            flex-direction: column;
            width: 95px;
            height: 75px;
            border: 1px solid;
            border-image-slice: 1;
            border-width: 1px;
            background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
            border-radius: 5px;
            border-image-source: linear-gradient(to right, #6171FF, #5A60E700);
            
            @media screen and(max-width:932px) {
              width: 70px;
              height: 65px;
            }
            .seasonGame {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 110%;
              color: #FAF9F9;
            }
            .seasonResult {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 140%;
              text-align: right;
              color: #FF795B;
            }
          }
        }
        
      }
      .shareSlice {
        // flex: 1;
        height: 100%;
        @media screen and(max-width:1124px) {
          display: none;
        }

        small {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 110%;
          color: #ACAFF3;
        }
        .socLinks {
          display: flex;

          img {
            padding: 2px;
          }
         
        }
        .toeTwo {
          display: flex;
          justify-content: end;
          margin-top: 10%;
        }
        .toeThree {
          display: flex;
          justify-content: end;
          margin-top: 10%;
        }
      }
    }
    .textColor {
      color: #909090;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
    }
  }
}

.footer {
  background: #222222;
  color: #FFFFFF;
  padding: 3rem;

  .social-links-icons {
    display: flex;
    justify-content: center;
    i {
      padding: 0.5rem;
    }
  }
.line {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: white;
    margin: 2rem 0;
}
  .footerRightSlice {
    display: flex;
    justify-content: end;
  }

  .appAndgoogle {
    margin: 3rem 0 0; 
    gap: 10px;

    @media screen and(max-width:375px) {
      margin: 2rem 50px 0 0;
    }
    @media screen and(max-width:345px) {
      margin: 2rem 100px 0 0;
    }
  }
  h3 {
    font-size: 16px;
    color: #ACAFF3;
    margin-bottom: 1rem;
  }

  small {
    font-size: 16px;
    line-height: 110%;
    text-align: right;
    color: #FFFFFF;
  }
  .footer-mobile {
    gap: 50px;
  }

  .footer-pad {
    padding: 40px;
  }
}

//

.userData {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
}
.logOut {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  width: 80px !important;
}
.MuiAccordionDetails-root, .css-15v22id-MuiAccordionDetails-root {
  display: flex;
  flex-direction: column;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: $textColor !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {

  @media screen and(max-width:427px) {
    margin: 3rem 0 0;
  }
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  margin: 1rem 0 0 0 !important;
}
.tableMobile {

  @media screen and(min-width:769px) {
    display: none;
  }
}